@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);

$font: 'Manrope', sans-serif;

:export{
  veryDarkBlue : $Very-Dark-Grayish-Blue;
  darkBlue: $Desaturated-Dark-Blue;
  grayBLue: $Grayish-Blue;
  lightBlue: $Light-Grayish-Blue;
}