@import "variables";

/*=================
  General
===================*/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  background-color: $Light-Grayish-Blue;
}

body{
  height: 100vh;
  font-size: 13px;
  font-family: $font;
  display: flex;
  // flex-direction: column;
  padding: 50px 80px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  color: $Very-Dark-Grayish-Blue;
  margin-bottom: 20px;
  margin-right: 20px;
  font-weight: 700;
}

p{
  color: $Desaturated-Dark-Blue;
  margin-bottom: 20px;
  margin-right: 20px;
  line-height: 1.6;
}

/*=================
  Contianer
===================*/

.container{
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px hsla(0, 0%, 0%,0.1);
  width: 75%;
  .left-col{
    img{
      width: 100%;
      height: 100%;
      border-radius: 10px 0 0 10px;
    }
  }
  
  .right-col{
    padding: 30px;
  }
}



/*=================
  User Info
===================*/

.user-info{
  display: flex;
  width: 100%;
  position: relative;
  p{
    margin-left: 20px;
    color: $Grayish-Blue;
    span{
      color: $Very-Dark-Grayish-Blue;
      display: block;
      font-weight: 700;
    }
  }
  img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .share-btn{
    cursor: pointer;
    position: absolute;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    right: 5%;
    top: 5%;
    padding: 10px;
    background-color: $Light-Grayish-Blue;
    .share-icon{
      position: absolute;
      mask: url("../images/icon-share.svg");
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      background-color: $Desaturated-Dark-Blue;
      width: 21px;
      height: 17px;
      top: 25%;
      left: 20%; 
    }
    .share-icon-active{
      background-color: white;
    } 
    &:hover{
      box-shadow: 0 5px 10px hsla(0, 0%, 0%,0.2);
    }  
  }
  .share-btn-active{
    background-color: $Desaturated-Dark-Blue; 
  }      
}

/*=================
  Social Media
===================*/

.social-media{//needs JavaScript in order to show
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(30%,-150%);
  background-color: $Very-Dark-Grayish-Blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding: 0 20px;
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    top: 90%;
    border: 15px solid transparent;
    border-top-color: $Very-Dark-Grayish-Blue;
  }
  a{
    &:hover{
      transform: scale(1.1);
    }

  }
  p{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 0;
  }
  img{
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin: 0 5px;
  }
}

.social-media-show{
  opacity: 1;
}

/*=================
  Attribution
===================*/

.attribution { 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  font-size: 11px;
  text-align: center;
  a {
     color: hsl(228, 45%, 44%);
   }
}

/*=================================================================
                                  Media
===================================================================*/


@media only screen and (max-width:1024px){

  
/*=================
  General
===================*/

body{
  padding: 10px;
}

h2{
  margin-right: 0px;
}

p{
  margin-right: 0px;
}

/*=================
  Contianer
===================*/

.container{
  flex-direction: column;
  width: 100%;
  .left-col{
    img{
      width: 100%;
      border-radius: 10px 10px 0 0px;
    }
  }
  
  .right-col{
    padding: 30px 30px 0 30px;
  }
}


/*=================
  User Info
===================*/

.user-info{
  display: flex;
  width: 100%;
  position: relative;
  p{
    margin-left: 20px;
    color: $Grayish-Blue;
    span{
      color: $Very-Dark-Grayish-Blue;
      display: block;
      font-weight: 700;
    }
  }
  img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .share-btn{
    cursor: pointer;
    position: absolute;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    right: 5%;
    top: 13%;
    padding: 10px;
    background-color: $Light-Grayish-Blue;
    z-index: 1;
    .share-icon{
      position: absolute;
      mask: url("../images/icon-share.svg");
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      background-color: $Desaturated-Dark-Blue;
      width: 21px;
      height: 17px;
      top: 25%;
      left: 20%; 
    }
    .share-icon-active{
      background-color: white;
    } 
    &:hover{
      box-shadow: 0 5px 10px hsla(0, 0%, 0%,0.2);
    }  
  }
  .share-btn-active{
    background-color: $Desaturated-Dark-Blue; 
  }      
}

/*=================
  Social Media
===================*/

.social-media{//needs JavaScript in order to show
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  bottom: 0;
  left: 0;
  transform: translate(-10%,-100%);
  background-color: $Very-Dark-Grayish-Blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95vw;
  height: 70px;
  border-radius: 0 0 10px 10px;
  padding: 0 20px;
  z-index: -1;
  &::before{
    border: 0px solid transparent;
  }
  p{
    margin: 0;
  }
  img{
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin: 0 10px;
  }
}

.social-media-show{
  opacity: 1;
  z-index: 0;
}

}